*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

h1{
    font-family:monospace;
}

body {
    background-color: #d9dfd5;
    overflow-x: hidden;


}

ul{
    display: block;
    background-color:#333030;
    margin: 0 auto;

}

.barra{
    background-color:#333030;
    height: 200px;
    margin: 50px;
    border-radius: 50px;
    border: 3px solid white;

}

.logonave{
    width:200px;
    background-color:#ffffff;
    border-radius: 50%;
    margin-left: 35%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;

}

.fundo{
   width: 100%;
   height:500px;
   border:5px solid #00000000;
}



.menu{
    list-style: none;
    display:flex;
    align-items:center;


}

.menu li{
    display: inline;
    margin-right:20px;
    
    
}

.menu li a{
    color: white;
    display: inline;
    text-decoration:none;
    display: inline-block;
    font-weight:bold;
    font-size:20px;
    padding: 10px;
    font-family:sans-serif;
    
    
}

p{
    font-family:Arial, Helvetica, sans-serif;
}

.menu li a:hover{
    background-color:#ffffff;
    color:#000000;
    border-radius: 20px;

}






h1{
    text-align: center;
    font-size:30px;
    font-size: 35px;
    color: #ffffff;
    padding-top:100px;
}


p{
    margin:20px auto;
    max-width: 80%;
    font-size:20px;
}

p{
    text-align:justify;
    background-color:#00000013;
    padding:20px;
    font-size:20px;
    border-radius: 20px;
}

h2{
    text-align: center;
    font-size:30px;
    padding:20px;
    margin-top:50px;
    color: white;
   
}


.container-servicos{
    display: flex;
    flex-wrap: wrap;

    border: 5px solid rgb(255, 255, 255);
    background-color:#333030;
    border-radius:20px;
    margin:20px;
    padding:20px;
}

.container-servicos2{
    display: flex;
    flex-wrap: wrap;
    background-color:#ffffff;
    border-radius:20px;
    margin:20px;
    padding:20px;
}

.container-servicos2 h4{
    margin: 20px;
}

.galeria1, .galeria2, .galeria3, .galeria4{
    width:300px;
}

.servicos-conteudo{
    background-color:#333030;
    border-radius:20px;
    display: flex;
    margin: 50px auto;
    align-items: center;

}



.servicos-conteudo h4{
    color: #ffffff;
    font-size:20px;
    margin-left: 10px;
}




/*Videos*/

.videos{
    background-color: #333030;
    display: flex;
    justify-content: center;
    padding: 10px;
}


/*Galeria de Fotos*/ 
.meu-carrossel{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    margin:1px;
}
.meu-carrossel img {
    padding: 10px;
  max-width: 500px;
  max-height: 500px;
  border-radius: 20px;
}


.contatos{
    background-color: #d9dfd5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 50px;
    border-radius: 10px;
}

.contatos img{
    width: 30px;
}

.contatos a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}


footer{
    margin-top:20px;
    padding-bottom: 50px;
    border-top: 3px solid #ffffff;
    background-color:#333030;
}


@media (max-width: 600px){
    .meu-carrossel img {
        padding: 10px;
      max-width: 300px;
      max-height: 300px;
      border-radius: 20px;
    }

    .contatos {
        display: block;
        padding: 5px;
    }
    .contatos div{
        text-align: center;
    }
  
}

